{
  "exchange": "GDAX",
  "tradingPair": "BTCUSD",
  "tradingStrategy": "Percentage",
  "tradingStatus": "PaperTrading",
  "buyPercent": 1,
  "sellPercent": 1,
  "stopLoss": 1.2,
  "tradePercent": 100.0,
  "priceCheck": 2000,
  "chartInterval": "OneM",
  "startBotAutomatically": false,
  "startingAmount": 200,
  "mooningTankingTime": 2000,
  "mooningTankingPercent": 100,
  "lastBuy": 7000.0,
  "tradingFee": 0.003,
  "tradeValidationCheck": 2000,
  "runBot": true
}
