{
  "exchange": "GDAX", //BINANCE,GDAX,KUCOIN
  "tradingPair": "BTCUSD", //Trading pair, no dashes between symbols
  "tradingStrategy": "Percentage", //Percentage,Volume,OrderBook
  "tradingStatus": "PaperTrading", //LiveTrading,PaperTrading
  "buyPercent": 1.0, //Buy percentage (percentage trading)
  "sellPercent": 1.0, //Sell percentage (percentage trading)
  "stopLoss": 1.2, //Stop loss percent
  "stopLossCheck": false, //Check for stop loss?
  "tradePercent": 100.0, //Percent of holdings to trade
  "priceCheck": 2000, //Price check in milliseconds
  "chartInterval": "OneM", //OneM,ThreeM,FiveM,FifteenM,ThirtyM,OneH,TwoH,FourH,SixH,EightH,TwelveH,OneD,ThreeD,OneW,OneMo
  "startBotAutomatically": false, //Start bot automatically? (may not work)
  "startingAmount": 200, //Starting pair amount for paper trading will be the 2nd value *BTC or *USD
  "mooningTankingTime": 2000, //Milliseconds to re-check if price is mooning/tanking
  "mooningTankingPercent": 100.0, //Volume percent increase from previous candle
  "lastBuy": 7000.0, //Last buy price (will be pulled from trade history)
  "lastSell": 7000.0, //Last sell price (will be pulled from trade history)
  "tradingFee": 0.003, //Trading fee (not currently used)
  "tradeValidationCheck": 2000, //Milliseconds to re-check if a trade has been executed
  "orderBookQuantity": 0.15, //Total volume at a price to trigger an order book buy/sell
  "traderResetInterval": 30, //# of cycles to verify trading type, reload bot settings (if they have been updated)
  "runBot": true, //Run the bot?
  "tradingCompetition": false, //Is this for a trading competition?
  "tradingCompetitionEndTimeStamp": 1532102400000, //UTC Unix time to milliseconds of end of trading competition
  "openOrderTimeMS": 300000 //For order book trading, cancel an open trade if it has been open for this many milliseconds
}
